@charset "UTF-8";

/*PALETA DE CORES
#FFD301
#cfad01
#F32E5C
*/


/*============================================VARIAVEIS============================================*/

:root{
    --cor1: #FFD301;
    --cor2: #cfad01;
    --cor3: #F32E5C;
}

/*=============================================GERAIS===============================================*/
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=============================================HEADER===============================================*/

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
}

header > h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    padding: 20px 5px;
    font-variant: small-caps;
    text-shadow: 0px 0px 4px black;
}

/*==============================================ICONE===============================================*/

i#list{
    display: block;
    font-size: 2.5em;
    text-align: center;
    border: 1.5px solid var(--cor2);
    background-color: #f5e9ad;
    cursor: pointer;
}

i#list:hover{
    box-shadow: 0px 0px 10px white;
    border: 1.5px solid var(--cor2)
}

/*==============================================MENU===============================================*/

menu{
    text-align: center;
    display: none;
    background-color: white;
}

menu > ul > li.ativo{
    background-color: var(--cor1);
    box-shadow:  0px 0px 20px white;
}

li.ativo > a{
    color: var(--cor3);
    font: normal bold 1em;
}


menu > ul > li > a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px;
    border: 1px solid gray;
    font-variant: small-caps;
}

menu > ul > li > a:hover{
    background-color: var(--cor3);
    color: white;
}

/*==============================================BODY===============================================*/

h1{
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
    padding: 18px;
    font-variant: small-caps;
}

p.botao{
    width: 100px;
    margin: auto;
    margin-top: 15px;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system;
    
    background-color: #f5e9ad;
    color: var(--cor3);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    border: 2px solid var(--cor1);
}

main{
    margin: auto;
    max-width: 400px;
    min-width: 300px;
    height: 100vh;
}

main > img{
  width: 100%;
  box-shadow: 0px 0px 4px var(--cor3);
}

main > section.texto{
    margin: auto;
    min-width: 300px;
    max-width: 400px;
    margin-top: 10px;
    padding: 20px 5px;
    background-color: white;
    border-radius: 10px;
}


section.texto > h1{
    text-align: center;
    margin: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.texto > p{
    font-size: 0.8em;
    text-align: justify;
    padding: 5px 25px;
    text-indent: 10px;
}

section.texto > p > img.pequena{
    width: 15px;
    padding-right: 5px;
    display: inline-block;
}

section.texto  ul{
    padding: 5px 15px;
    font-variant: small-caps;
    font-style: italic;
}

section.texto > h2{
    text-align: center;
    font-size: 1.1em;
    margin: 6px;
}

section.texto > img{
    display: block;
    margin: auto;
    width: 250px;
    padding: 12px;
    border: 5px ridge var(--cor1);/*Bordas > groove, solid, dotted, dashed, double, ridge, inset */
    background-color: var(--cor3);
}

/*==============================================ARQUIVOS==========================================*/

section.texto > p.comando{
    color: yellow;
}

pre > code {
    display: block;
    padding-left: 5px;
    font-size: 0.75em;
    background-color: lightgoldenrodyellow;
    color: black;
}

section.texto > ol{
    width: 240px;
    display: block;
    margin: auto;
    font-size: 0.8em;
}

section.texto > ol > li{
    line-height: 22px;
}