@charset "UTF-8";

/*PALETA DE CORES
#FFD301
#cfad01
#F32E5C
*/


/*============================================VARIAVEIS============================================*/

:root{
    --cor1: #FFD301;
    --cor2: #cfad01;
    --cor3: #F32E5C;
}

/*=============================================GERAIS===============================================*/
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url('../jpeg/fundo1.jpg') center center no-repeat fixed;
    background-size: cover;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=============================================HEADER===============================================*/

header{
    width: 100vw;
    height: 70px;
    position: relative;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
}

header > h1{
    position: absolute;
    left: 70px;
    display: inline-block;
    color: aliceblue;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    padding: 20px 5px;
    font-variant: small-caps;
    text-shadow: 0px 0px 4px black;
}

/*==============================================ICONE===============================================*/

i#list{
    position: absolute;
    top: 7px;
    display: inline-block;
    font-size: 3.5em;
    text-align: center;

    color: white;
    text-shadow: 0px 0px 5px black;
  
    cursor: pointer;
}

a{
    text-decoration: none;
}


/*==============================================MENU===============================================*/

menu{
    display: none;
    margin: auto;
    background-color: white;
}

menu > ul{
    display: block;
    margin: auto;
    background-color: darkslategray;
}

menu > ul > li{
    display: inline-block;
    width: 105px;
    margin: 2px;
    padding: 6px 3px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

menu > ul > li.ativo{
    background-color: var(--cor3);
    box-shadow:  0px 0px 20px white;
}

li.ativo > a{
    color: white;
    font: normal bold 1em;
}


menu > ul > li > a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-variant: small-caps;
}

menu > ul > li > a:hover{
    background-color: var(--cor3);
    color: white;
}

/*==============================================BODY===============================================*/


p.botao{
    width: 320px;
    margin: auto;
    margin-top: 15px;

    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px black;
    font-family: system-ui, -apple-system;
    
    background-color: darkslategray;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
}

main{
    margin: auto;
    max-width: 400px;
    min-width: 300px;
    height: 100vh;
}

main > img{
    width: 100%;
    box-shadow: 0px 0px 4px var(--cor3);

    border: 4px solid darkslategray;
    box-shadow: 0px 0px 30px white;
}

main > h1{
    text-align: center;
    font-family: monospace;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
}

main > section.texto{
    display: none;
    margin: auto;
    margin-top: -8px;
    width: 308px;
    padding: 20px 5px;

    background-color: white;
    border: 6px solid darkslategray;
    border-radius: 3px;
    display: none;
}


section.texto > h1{
    text-align: center;
    margin: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.texto > p{
    font-size: 0.8em;
    text-align: justify;
    padding: 5px 25px;
    text-indent: 10px;
}

section.texto > p > img.pequena{
    width: 15px;
    padding-right: 5px;
    display: inline-block;
}

section.texto  ul{
    display: block;
    margin: auto;
    width: 240px;
    font-variant: small-caps;
    font-style: italic;
}

section.texto > h2{
    text-align: center;
    font-size: 1.1em;
    margin: 6px;
}

section.texto > img{
    display: block;
    margin: auto;
    width: 250px;
    padding: 12px;
    border: 5px ridge var(--cor1);/*Bordas > groove, solid, dotted, dashed, double, ridge, inset */
    background-color: var(--cor3);
}

/*==============================================ARQUIVOS==========================================*/

section.texto > p.comando{
    color: yellow;
}

pre > code {
    display: block;
    padding-left: 5px;
    font-size: 0.75em;
    background-color: lightgoldenrodyellow;
    color: black;
}

section.texto > ol{
    width: 240px;
    display: block;
    margin: auto;
    font-size: 0.8em;
}

section.texto > ol > li{
    line-height: 22px;
}

.com{
    background-color: yellow;
}